In [5]:
import pandas as pd

df = pd.read_csv('C:/Users/abrown_17/Documents/GitHub/projects_for_school/machine_learning/quiz_1/quiz1_weather.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          19 non-null     object
 1   temperature  16 non-null     float64
 2   windspeed    18 non-null     float64
 3   event        18 non-null     object
 4   city         18 non-null     object
 5   state        19 non-null     object
dtypes: float64(2), object(4)
memory usage: 672.0+ bytes

In [6]:
df.head(5)

         day  temperature  windspeed  event city state
0   4/1/2018         42.0       16.0   Rain   sf    ca
1   4/2/2018         45.0        3.0  Sunny   sf    ca
2   4/3/2018         78.0       12.0   Snow   sf    mn
3  10/1/2018         42.0       16.0   Rain   sf    ca
4  10/2/2018         45.0        3.0  Sunny   sf    ca

In [7]:
df.tail(5)

           day  temperature  windspeed  event city state
14  10/16/2018         51.0        NaN  Sunny   sf    ca
15    8/1/2018         42.0       16.0   Rain  NaN    ca
16    8/2/2018         45.0        3.0  Sunny   sf    ca
17    8/3/2018         78.0       12.0   Snow   sf    mn
18    8/4/2018         78.0       12.0   Snow   sf    mn

In [15]:
print('the max temp is {}'.format(df['temperature'].max()))
print('the min temp is {}'.format(df['temperature'].min()))
print('the avg temp is {}'.format(df['temperature'].mean()))
print('the avg windspeed is {}'.format(df['temperature'].mean()))

the max temp is 78.0
the min temp is 42.0
the avg temp is 56.875
the avg windspeed is 56.875

In [17]:
df.sort_values(by=['state'],  ascending=False)

           day  temperature  windspeed  event city state
7    10/5/2018         42.0       24.0   Rain  sea    or
13  10/15/2018          NaN       24.0   Rain  sea    or
18    8/4/2018         78.0       12.0   Snow   sf    mn
12  10/14/2018         74.0        9.0   Snow   sf    mn
2     4/3/2018         78.0       12.0   Snow   sf    mn
17    8/3/2018         78.0       12.0   Snow   sf    mn
5    10/3/2018         78.0       12.0   Snow   sf    mn
6    10/4/2018         74.0        9.0   Snow   sf    mn
11  10/13/2018          NaN       12.0   Snow   sf    mn
16    8/2/2018         45.0        3.0  Sunny   sf    ca
15    8/1/2018         42.0       16.0   Rain  NaN    ca
14  10/16/2018         51.0        NaN  Sunny   sf    ca
0     4/1/2018         42.0       16.0   Rain   sf    ca
10  10/12/2018         45.0        3.0  Sunny   sf    ca
1     4/2/2018         45.0        3.0  Sunny   sf    ca
8    10/6/2018         51.0       32.0    NaN   sf    ca
4    10/2/2018         45.0        3.0  Sunny   sf    ca
3    10/1/2018         42.0       16.0   Rain   sf    ca
9   10/11/2018          NaN       16.0   Rain   sf    ca

In [18]:
df.fillna(value='1234')

           day temperature windspeed  event  city state
0     4/1/2018          42        16   Rain    sf    ca
1     4/2/2018          45         3  Sunny    sf    ca
2     4/3/2018          78        12   Snow    sf    mn
3    10/1/2018          42        16   Rain    sf    ca
4    10/2/2018          45         3  Sunny    sf    ca
5    10/3/2018          78        12   Snow    sf    mn
6    10/4/2018          74         9   Snow    sf    mn
7    10/5/2018          42        24   Rain   sea    or
8    10/6/2018          51        32   1234    sf    ca
9   10/11/2018        1234        16   Rain    sf    ca
10  10/12/2018          45         3  Sunny    sf    ca
11  10/13/2018        1234        12   Snow    sf    mn
12  10/14/2018          74         9   Snow    sf    mn
13  10/15/2018        1234        24   Rain   sea    or
14  10/16/2018          51      1234  Sunny    sf    ca
15    8/1/2018          42        16   Rain  1234    ca
16    8/2/2018          45         3  Sunny    sf    ca
17    8/3/2018          78        12   Snow    sf    mn
18    8/4/2018          78        12   Snow    sf    mn

In [51]:
df.drop([1, 2, 3])

           day  temperature  windspeed  event city state
0     4/1/2018         42.0       16.0   Rain   sf    ca
4    10/2/2018         45.0        3.0  Sunny   sf    ca
5    10/3/2018         78.0       12.0   Snow   sf    mn
6    10/4/2018         74.0        9.0   Snow   sf    mn
7    10/5/2018         42.0       24.0   Rain  sea    or
8    10/6/2018         51.0       32.0    NaN   sf    ca
9   10/11/2018          NaN       16.0   Rain   sf    ca
10  10/12/2018         45.0        3.0  Sunny   sf    ca
11  10/13/2018          NaN       12.0   Snow   sf    mn
12  10/14/2018         74.0        9.0   Snow   sf    mn
13  10/15/2018          NaN       24.0   Rain  sea    or
14  10/16/2018         51.0        NaN  Sunny   sf    ca
15    8/1/2018         42.0       16.0   Rain  NaN    ca
16    8/2/2018         45.0        3.0  Sunny   sf    ca
17    8/3/2018         78.0       12.0   Snow   sf    mn
18    8/4/2018         78.0       12.0   Snow   sf    mn